*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-color: #1e2326;
}
/* ***************************
header section css start
******************** */
header{
    height: 100vh;
}
#particles-js{
    background: #262626;
    height: 100%; 
    z-index: -99;  
}
nav{

    background: transparent; 
    
}
.nav_1 a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0px 30px 40px;  
}
.nav_1 span{
    color: #f07f81;
}
.nav_1:hover a{
    cursor: pointer;
}
.nav-link{
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 32px 22px 30px 5px;
    padding: 12px 24px !important;
    font-weight: 400;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.nav-link::before{
    box-sizing: none;
    content: "";
    position: absolute;
    border-top: 2px solid #f07f81;
    border-left: 2px solid #f07f81;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
}
.nav-link::after{
    box-sizing: none;
    content: "";
    position: absolute;
    border-bottom: 2px solid #f07f81;
    border-right: 2px solid #f07f81;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
}
.nav-link:hover::before,
.nav-link:hover::after
{
    width: 10%;
    height: 20%;
    color: #f07f81;
    transform: rotate(360deg);
}
.nav-link:hover{
    color: #f07f81;
    cursor: pointer;
}
.dropdown-divider{
    color: #fff;
}
.intro{
    position: relative;

}
.intro h3{
    color: #fff;
    /* text-align: center; */
    top: 103px;
    position: absolute;
    left: 480px;
}
.name h1{
    color: #fff;
    text-align: center;
    padding: 15px 30px;
}
.name{
    padding: 10px 30px;
    position: absolute;
    border: 2px solid #fff;
    top: 167px;
    left: 350px;
}
.name_1{
    border: 2px solid #f07f81;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #f07f81;
    top: -10px;
    left: -10px;

}
.name_2{
    border: 2px solid #f07f81;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #f07f81;
    bottom: -10px;
    right: -10px;
}

.button a{
    display: inline-block;
    position: relative;
    top: 273px;
    left: 500px;
    margin-top: 36px;
    padding: 15px 30px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    overflow: hidden;
    /* border: 2px solid #f07f81; */
}
.button a:hover{
    background:#f07f81;
    color: #fff;
    box-shadow: 0px 0 5px #f07f81,
                0px 0 25px #f07f81,
                0px 0 50px #f07f81,
                0px 0 200px #f07f81;
                transition: all 0.3s ease-in-out;
}
.button a span{
    position: absolute;
    display: block;
    
}
.button a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,#f07f81);
    animation: animate1 1s  linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.button a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#f07f81);
    animation: animate2 1s  linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.button a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#f07f81);
    animation: animate3 1s  linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.button a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#f07f81);
    animation: animate4 1s  linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


/* ***************************
header section css start
******************** */
